# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.candyland-master.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Leisure Time\Desktop\Candyland\candyland-master\.idea\.idea.candyland-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
